*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    font-family: "Lora", serif;
    font-style: normal;
    font-weight:400;
    overflow-x: hidden;
}
header{
    height: 100vh;
    /* width: 70%; */
    background-image:url("https://zf2xqj.yourbrand.studio/files/dynamicContent/sites/zf2xqj/images/en/webpage_12/m5p6bgzu/element_280/rwdMode_1/2400x800/Header_Home.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    background-color: white;
    z-index: 100;
    position: fixed;
    inset-inline: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.nav-container{
    width: 100%;
    max-width: 1200px;
    /* padding: 1rem 2.5rem; */
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav{
    display:none;
}
img{
    width:100%
}
.logo img{
    max-width: 60px;
    height:auto;
}
.nav-links{
    display: flex;
    gap: 2rem;
    justify-content:space-between;
    list-style:none;
}
.nav-links a{
    font-size: 1.1rem;
    color: rgb(62, 97, 62);
}

.text-box{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    /* background-image:url("https://zf2xqj.yourbrand.studio/files/dynamicContent/sites/zf2xqj/images/en/webpage_12/m5p6bgzu/element_280/rwdMode_1/2400x800/Header_Home.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.text-box h1{
    margin-top:6rem;
    width: 30%;
    margin-left: 40%;
    color: rgb(62, 97, 62);
}
.text-box span{
    color: rgb(101 130 101);
}

@media screen and (max-width: 768px){
    .mobile-nav{
        display:block;
    }
    .nav-links{
        display:none;
    }
    header .text-box{
        font-size: 1rem;
    }
}
.sec-one{
    display: flex;
    justify-content: space-evenly;
    /* height:70vh; */
    padding-block:6rem 4rem;
    /* margin-inline: 5rem; */
}
.sec-one .text-div{
    width: 50%;
    margin-bottom: 2rem;
}
.sec-one h3{
    font-size: 2rem;
    color: rgb(62, 97, 62);
    margin-bottom: 1rem;
}
.sec-one p{
    color:rgb(51, 51, 51);
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    width: 70%;
}
.image-div img{
    width: 300px;
    height: 390px;
}

.sec-two{
    /* margin-bottom: 2rem; */
    margin-inline: auto;
    height: 100vh;
    max-width: 100%;
}
.sec-two h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color:rgb(62, 97, 62);
}
.image-category{
    display: flex;
    gap: 2rem;
    margin-inline:4rem;
    padding:auto;
}
.img-cat{
    height:100px;
    width: 25%;
    /* overflow: hidden; */
}
.img-cat img{
    width: 280px;
    height: 350px;
    overflow: hidden;
}
.img-cat p{
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: center;
}
.img-cat h4{
    display: inline-block;
    /* justify-content: center; */
    font-weight: lighter;
    font-size:1.2rem;
    color:white;
    background-color:rgb(101, 130, 101);
    text-align: center;
    padding: 0.9rem 1.2rem;
    position: relative;
    top: -40px;
    margin-inline: 4rem;
    cursor: pointer;
    height:70px;
}
.img-cat h4:hover{
    background-color: rgb(62, 97, 62);
}

/* Section three */
.sec-three{
    margin-block:3rem;
    margin-inline: auto;
    max-width: 1200px;
}
.sec-three h2{
    font-size: 2.5rem;
    margin-block:2.5rem 3rem;
    font-weight: 200;
    text-align: center;
    color:rgb(62, 97, 62);
}

.sec-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 3rem;
}
.sec-3-content {
    padding: 1rem;
}
.img-div{
    max-width: 100%;
    height: 300px;
    overflow: hidden;
}
.img-div img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}
.img-div img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.more a {
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-size: 1.1rem;
    color:rgb(101, 130, 101);
    font-weight: 350;
}
.more i {
    margin-left: 0.5rem;
    color:rgb(101, 130, 101)
}

.more a:hover{
    text-decoration: underline;

}
.sec-3-content .p1-text{
    color: rgb(184, 179, 179);
    font-family: Open Sans, sans-serif;
    font-size: 0.9rem;
    margin-top: 1rem;
}
.sec-3-content .p2-text{
    color: rgb(51, 51, 51);
    font-family: Open Sans, sans-serif;
    font-size:1rem;
    line-height: 2rem;
    margin-block: 1rem;
}
.sec-3-content h4{
    font-size: 1.2rem;
    line-height: 26px;
    font-family:  Open Sans, sans-serif;
    font-weight: lighter;
}
/* Section Four */
.sec-four-container{
    display:flex ;
    gap: 4rem;
    /* justify-content: center; */
    /* max-width: 1200px; */
    margin: 3rem;
    padding: 2rem;
}
.sec-four-left, .sec-four-right{
    width: 50%;
    /* height: 100vh; */
}
.sec-four-right h2{
    font-size: 2.5rem;
    margin-block:2.5rem 3rem;
    font-weight: 200;
    text-align: center;
    padding: 2rem;
    background-color:rgb(101, 130, 101);
    color: white;
}
.sec-four-images .large-img{
    padding-top: 2.1rem;
}
.sec-four-images .small-img{
    width: 35%;
    position: relative;
    right: -28rem;
    top: -15rem;
    border: 1.3rem solid white;
    /* height: 10px; */
}
.sec-four-text p{
    margin-block: auto;
    line-height: 2.1rem;
    font-family:  Open Sans, sans-serif;
    font-size: 1.2rem;
}